.tracker {
    margin-top: 1%;
    text-align: center;
}

.tracker h1 {
    font-size: 3em;
    font-weight: bold;
}

.count-display {
    align-items: center;
    text-align: center;
}

.count-display i {
    font-size: 30px;
}

table, tr, td {
    margin-left: 41%;
    margin-top:4%;
    margin-bottom:3%;
    text-align: center;
}

.count-display i .fa-check-circle{
    color: #C5C5FF;
}
