/* font imports */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans';
    background-image: url(../assets/backgrounds/landing_page.png);
    background-size: cover; 
    color: #472986;
}

.navbar-dark .navbar-nav .nav-item {
    margin: 0 2em;
}

.btn-outline-success {
    color: #472986;
    border-color: #472986;
}

.landing {
    margin-top: 20%;
    margin-bottom: 20%;
    align-content: center;
}

.landing h1 {
    font-size: 3.5em;
    font-weight: bold;
    text-align: center;
}

.landing h5 {
    text-align: center;
}
